@import url('https://fonts.googleapis.com/css2?family=B612&family=Lora&display=swap');

/*------------------------------------General*/
body {
    overflow-x: hidden;
}

/*------------------------------------Colors*/


/*------------------------------------Header*/
header {
    background-color: #65CCB8;
    filter: brightness(0.9);
}
nav {
    height: 85px;
    padding: 5px;
}

.logo {
    filter: drop-shadow(2px 4px 8px #585858);
    width: 75px;
    height: 75px;
}
.title-1 {
    font-family: 'B612', sans-serif;
    font-size: smaller;
    font-weight: 800;
    position: absolute;
    top: 30px;
    left: 65px;
}
.title-2 {
    font-family: 'B612', sans-serif;
    font-size: smaller;
    font-weight: 800;
    position: absolute;
    top: 45px;
    left: 65px;
}


/*------------------------------------Toggle Switch*/

/*------------------------------------Statement Paragraph*/
.statement-paragraph {
    font-family: 'B612', sans-serif;
    color: #f2f2f2;
    background-color: #182628;
    padding: 20px 15px;
    height: 170px;
}
/*------------------------------------Calculator*/
.co2-google-maps {
    background-color: #3B945E;
    filter: brightness(0.9);
    height: 1000px;
    padding: 20px 15px;
}
.co2-calculator-heading {
    font-family: 'B612', sans-serif;
    color: #f2f2f2;
    font-weight: 800;
    padding: 15px;
}
.calculator-text {
    font-family: 'B612', sans-serif;
    width: 350px;
}
.fuel-type {
    position: relative;
    top: 30px;
    right: 15px;
}
.per-mile {
    position: relative;
    top: 80px;
    right: 15px;
}
.start-location {
    position: relative;
    top: 30px;
    left: 15px;
}
.end-location {
    position: relative;
    top: 80px;
    left: 15px;
}
.calculator-submit {
    font-family: 'B612', sans-serif;
    position: relative;
    top: 215px;
}
/*-----------------------------------@media*/
@media (min-width: 766px) {
    .toggle-location {
    position: relative;
    bottom: 45px;
    left: 90%;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
}
@media (max-width: 765px) {
    .toggle-location{
    position: relative;
    bottom: 55px;
    left: 85%;
    padding-top: 10px;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
}
@media (min-width: 992px){
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 100%;
}
}
@media (max-width: 765px) {
    .col, .col-lg-2 {
        max-width: 100%;
    }
}

@media (max-width: 992px) and (min-width:766px){
    .fuel-type, .per-mile, .start-location, .end-location {
        left: 170px;
    }
}
@media (max-width: 992px) and (min-width:766px) {
    .fuel-type{
    top: 1rem;
}
}
@media (max-width: 992px) and (min-width:766px) {
    .per-mile {
    top: 2rem;
}
}
@media (max-width: 992px) and (min-width:766px) {
    .start-location{
        top: 3rem;
    }
}
@media (max-width: 992px) and (min-width:766px) {
    .end-location{
        top: 4rem;
    }
}
@media (max-width: 992px) and (min-width:766px) {
    .calculator-submit {
        top: 315px;
        right: 270px;
    }
}
@media (max-width: 992px) and (min-width:766px) {
    .custom-select, .input-group-text, .form-control {
    font-size: 1.25rem;
    border-radius: 12px;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .fuel-type, .per-mile, .start-location, .end-location {
        left: 6rem;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .end-location, .per-mile {
        top: 50px;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .fuel-type, .start-location {
    top: 20px;
}
}
@media (max-width: 765px) and (min-width:540px) {
    .custom-select, .input-group-text, .form-control {
    font-size: 1.2rem;
    border-radius: 12px;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .calculator-text{
    width: 20rem;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .calculator-submit {
        top: 280px;
        left: 12rem;
    }
}
@media (max-width: 539px) {
    .fuel-type, .per-mile, .start-location, .end-location {
        left: 0rem;
    }
}
@media (max-width: 539px) {
    .end-location, .per-mile {
        top: 50px;
    }
}
@media (max-width: 539px) {
    .fuel-type, .start-location {
    top: 20px;
}
}
@media (max-width: 539px) {
    .custom-select, .input-group-text, .form-control {
    font-size: 0.8rem;
    border-radius: 12px;
    }
}
@media (max-width: 539px) {
    .calculator-text{
    width: 18rem;
    }
}
@media (max-width: 539px) {
    .calculator-submit {
        top: 15rem;
        left: 6rem;
    }
}
@media (max-width: 992px) and (min-width:766px) {
    .trip-distance {
        top: 25rem;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .trip-distance {
        top: 25rem;
    }
}
@media (max-width: 539px) {
    .trip-distance {
        top: 25rem;
    }
}
@media (max-width: 992px) and (min-width:766px) {
    .total-trip-co2 {
        top: 26rem;
    }
}
@media (max-width: 765px) and (min-width:540px) {
    .total-trip-co2 {
        top: 26rem;
    }
}
@media (max-width: 539px) {
    .total-trip-co2 {
        top: 26rem;
    }
}

/*------------------------------------Code Taken from bootstrap*/
@media (min-width: 993px) {
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #182628;
    text-align: center;
    white-space: nowrap;
    background-color: #f2f2f2;
    border: 1px solid #ced4da;
    border-radius: 12px;
}
}
@media (min-width: 993px) {
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    border-radius: 12px;
}
@media (min-width: 993px) {
.custom-select {
    font-size: 1.25rem;
}
}
.custom-select:focus {
    border-color: #65CCB8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(101 204 184 / 25%);
}
.btn-group-lg>.btn, .btn-lg {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 10px;
}
.btn-primary {
    color: #f2f2f2;
    background-color: #182628;
    border-color: #f2f2f2;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #101a1b;
    border-color: #ffffff;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #101a1b;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.8rem rgb(101 204 184/ 50%);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #101a1b;
    border-color: #ffffff;
}
.shadow {
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2)!important;
}
/*------------------------------------Google Maps*/
.google-maps-api {
    position: relative;
    top: 250px;
}

/*------------------------------------Calculator Results*/
@media (min-width: 993px) {
.trip-distance {
    position: relative;
    top: 500px;
}
}
@media (min-width: 993px) {
.total-trip-co2 {
    position: relative;
    top: 550px;
}
}

/*------------------------------------CO2 emissions programs*/
.offset-program-section {
    font-family: 'B612', sans-serif;
    background-color: #182628;
    color: #f2f2f2;
    padding: 15px;
    height: 450px;
}
@media (max-width: 539px) {
    .offset-program-section {
        height: 325px;
    }
}
.carousel-img {     
    filter: drop-shadow(2px 4px 8px #585858);
    width: 550px;
    height: 400px;
    position: relative;
    left: 25%;
    bottom: 4rem;
}
@media (max-width: 765px) and (min-width: 540px) {
    .carousel-img {
        width: 200px;
        height: 130px;
        left: 20%;
        bottom: 2rem;
    }
}
@media (max-width: 539px) {
    .carousel-img {
        width: 300px;
        height: 235px;
        left: 20%;
        bottom: 2rem;
    }
}
.carousel-caption {
    bottom: 0px;
}
@media (max-width: 539px) {
    .carousel-caption {
        bottom: -20px;
    }
}
.carousel-indicators {
    bottom: -40px;
}
@media (max-width:539px) {
.carousel-indicators {
    bottom: -60px;
}
}
.bulb-img {
    padding: 25px;
}
/*------------------------------------Footer*/









