@import url('https://fonts.googleapis.com/css2?family=B612&family=Lora&display=swap');

/*------------------------------------General*/


/*------------------------------------Colors*/


/*------------------------------------Header*/
nav {
    height: 150px;
    padding: 5px;
}

.logo {
    width: 150px;
    height: 150px;
}



/*------------------------------------Toggle Switch*/


/*------------------------------------Statement Paragraph*/


/*------------------------------------Calculator*/


/*------------------------------------Google Maps*/


/*------------------------------------Calculator Results*/


/*------------------------------------CO2 emissions programs*/

/*------------------------------------Footer*/









