@import url('https://fonts.googleapis.com/css2?family=B612&family=Lora&display=swap');

/*------------------------------------General*/


/*------------------------------------Colors*/


/*------------------------------------Header*/
header {
    background-color: #65CCB8;
    filter: brightness(0.9);
}
nav {
    height: 160px;
    padding: 5px;
}

.logo {
    width: 150px;
    height: 150px;
}
.title-1 {
    font-family: 'B612', sans-serif;
    font-size: x-large;
    font-weight: 800;
    position: absolute;
    top: 55px;
    left: 120px;
}
.title-2 {
    font-family: 'B612', sans-serif;
    font-size: x-large;
    font-weight: 800;
    position: absolute;
    top: 90px;
    left: 120px;
}


/*------------------------------------Toggle Switch*/
@media (min-width: 766px) {
    .toggle-location {
    position: absolute;
    top: 75px;
    left: 90%;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
}
@media (max-width: 765px) {
    .toggle-location{
    padding-top: 10px;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
}
/*------------------------------------Statement Paragraph*/
.statement-paragraph {
    font-family: 'B612', sans-serif;
    color: #f2f2f2;
    background-color: #182628;
    padding: 20px 15px;
    height: 170px;
}

/*------------------------------------Calculator*/


/*------------------------------------Google Maps*/


/*------------------------------------Calculator Results*/


/*------------------------------------CO2 emissions programs*/

/*------------------------------------Footer*/









