@import url('https://fonts.googleapis.com/css2?family=B612&family=Lora&display=swap');

/*------------------------------------General*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'B612', sans-serif;
}
a {
    color: #182628;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}
@media (max-width: 380px) {
    h1 {
        font-size: 1.5rem;
    }
}
/*------------------------------------Change bootstrap code to stop it from moving divs for calculator*/
@media (min-width: 576px) {
.mr-sm-2, .mx-sm-2 {
    margin-right: 0px!important;
}
}
/*------------------------------------Colors*/


/*------------------------------------Header*/
nav {
    height: 85px;
    padding: 5px;
}

.logo {
    filter: drop-shadow(2px 4px 8px #585858);
    width: 75px;
    height: 75px;
}
.title-1 {
    font-size: smaller;
    font-weight: 800;
    position: absolute;
    top: 30px;
    left: 65px;
}
.title-2 {
    font-size: smaller;
    font-weight: 800;
    position: absolute;
    top: 45px;
    left: 65px;
}

/*------------------------------------Toggle Switch*/
/*------------------------------------https://www.w3schools.com/howto/howto_css_switch.asp*/
switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 90%;
  right: 0;
  bottom: 0;
  background-color: #65CCB8;
  -webkit-transition: .6s;
  transition: .6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .6s;
  transition: .6s;
}
input:checked + .slider {
  background-color: #182628;
}

input:focus + .slider {
  box-shadow: 0 0 5px #f2f2f2;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
  height: 20px;
  width: 45px;
}
.slider.round:before {
  border-radius: 50%;
}
.light-theme {
    filter: drop-shadow(2px 4px 2px #585858);
    position: relative;
    right: 30px;
    bottom: 5px;
    font-size: x-large;
}
.dark-theme {
    filter: drop-shadow(2px 4px 2px #585858);
    position: relative;
    left: 38px;
    bottom: 5px;
    font-size: x-large;
}
.switch-location {
    position: relative;
    bottom: 75%;
    right: 75px;
}

@media (max-width: 380px) {
    .switch-location {
        right: 60px;
    }
    .light-theme, .dark-theme {
        font-size: larger;
    }
    .slider.round {
        height: 25px;
        width: 50px;
    }
    .slider.round:before {
        bottom: 6px;
    }
}
/*------------------------------------Statement Paragraph*/
.statement-paragraph {
    padding: 20px;
    height: 175px;
}
@media (max-width: 1024px) {
    .statement-paragraph {
        font-size: 1rem;
        height: 210px;
    }
}
@media (max-width:768px) {
    .statement-paragraph {
        height: 270px;
    }
}
@media (max-width: 540px) {
    .statement-paragraph {
        height: 210px;
    }
}
@media (max-width: 380px) {
    .statement-paragraph {
        font-size: 0.75rem;
        height: 150px;
    }
}
/*------------------------------------Calculator*/
.nav-link {
    color: #f2f2f2;
    border-color: #182628;
    padding: 10px;
}
.nav-link:hover {
    color: #f2f2f2;
    filter: brightness(0.7);
}
.co2-google-maps {
    filter: brightness(0.9);
    padding: 20px 5%;
}
.co2-calculator-heading {
    font-weight: 800;
    padding: 25px;
}
.calculator-text {
    width: 350px;
}
.calculator-button {
    padding: 10px;
}
.userCalculator {
    text-align: center;
    font-size: larger;
}


/*------------------------------------Code Taken from bootstrap*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    border-radius: 12px;
}
.shadow {
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2)!important;
    border-radius: 12px;
}
/*------------------------------------Google Maps*/
.google-maps-api {
    position: relative;
    top: 250px;
}
.fa-map-marker-alt,
.fa-dot-circle {
  color: #182628;
}
.icon {
    padding: 5px;
    font-size: x-large;
}
/*Submit Button*/
.btn {
    background-color: #182628;
    filter: drop-shadow(0px 0px 4px #585858);
    width: 80%;
    border-radius: 12px;
}
.btn:hover {
    background-color: #182628;
    filter: brightness(0.5);
}
.btn:focus {
    color: #f2f2f2;
    background-color: #182628;
    border-color: #65CCB8;
}
/*map*/
#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
  filter: drop-shadow(0px 0px 4px #585858);
}

/*output box*/
#output, #calculation {
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
}

#mode {
  color: #182628;
}

sub {
    bottom: -.25rem;
    font-size: 75%;
}
@media (max-width: 768px) {
    #output, #calculation, .userCalculator {
        font-size: 1.15rem;
    }
}
@media (max-width: 380px) {
    #output, #calculation, .userCalculator {
        font-size: 1rem;
    }
}
/* Optional: Makes the sample page fill the window. */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/*------------------------------------Calculator*/
/*------------------------------------Place calculator submit button in the middle of the screen*/
#totalCarbon {
    padding-top: 12px;
}
/*------------------------------------Style border-radius of myCalculator section to  match the border-radius of rest of site. 
Change some other features of myCalculator section to match rest of site*/
.calc-border {
    border-radius: 12px;
    border-color: #182628;
    border-width: 1.5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 50%;
}
#totalDistance {
    padding: 5px;
}
input {
    text-indent: 5px;
}
.calculatorSpacing {
    padding: 5px;
}
@media (max-width: 768px) {
    .calc-border {
        width: 65%;
    }
    #googleMap {
        width: 100%;
    }
    .btn {
        width: 90%;
    }
}
@media (max-width: 380px) {
    .calc-border {
        width: 55%;
    }
    #googleMap {
        height: 250px;
    }
    .btn {
        width: 100%;
    }
}
/*------------------------------------CO2 emissions programs*/
.offset-program-section {
    color: #f2f2f2;
    padding: 15px;
    height: 475px;
}
.carousel-img {     
    filter: drop-shadow(2px 4px 8px #585858);
    width: 550px;
    height: 400px;
    position: relative;
    left: 28%;
    bottom: 5rem;
}
.carousel-inner {
    height: 415px;
}
.carousel-caption {
    bottom: -25px;
    font-size: 1.25rem;
}
.bulb-img {
    padding: 60px;
}
.link-btn {
    background-color: transparent;
    border-color: #f2f2f2;
    border-radius: 12px;
    padding: 10px;
    margin: 1%;
    width: 60%;
    position: relative;
    top: 10px;
}
.btn-primary:hover {
    color: #f2f2f2;
    border-color: #f2f2f2;
    filter: brightness(0.7);
    transition: 0.5s ease-in;
}
@media (max-width:1024px) {
    .carousel-img {
        left: 22%;
    }
}
@media (max-width: 768px) {
    .offset-program-section {
        height: 475px;
    }
    .carousel-inner {
        height: 440px;
    }
    .carousel-img {
        filter: drop-shadow(2px 4px 8px #585858);
        width: 400px;
        height: 300px;
        position: relative;
        left: 11rem; 
        bottom: 3rem;      
    }
    .carousel-caption {
        width: 450px;
        font-size: large;
        top: 12rem;
        left: 9rem;
    }

    .bulb-img {
        padding: 45px;
    }
}
@media (max-width:540px) {
.offset-program-section {
        height: 285px;
    }
    .carousel-inner {
        height: 275px;
    }
    .carousel-img {
        width: 250px;
        height: 170px;
        position: relative;
        filter: drop-shadow(2px 4px 8px #585858);
        bottom: 2rem;
        left: 9rem;
    }
    .carousel-item {
        right: 0.5rem;
        height: 280px;
    }
    .carousel-caption {
        width: 200px;        
        font-size: 1rem;
        top: 3rem;
        left: 5.25rem;
    }
    .bulb-img {
        padding: 35px;
    }
    .link-btn {
        font-size: 0.75rem;
        width: 70%;
        padding: 5px;
    }
}
@media (max-width:400px) {
.offset-program-section {
        height: 295px;
    }
    .carousel-inner {
        height: 275px;
    }
    .carousel-img {
        width: 200px;
        height: 130px;
        position: relative;
        filter: drop-shadow(2px 4px 8px #585858);
        bottom: 1rem;
        left: 5rem;
    }
    .carousel-item {
        right: 0.5rem;
        height: 280px;
    }
    .carousel-caption {
        width: 175px;        
        font-size: 1rem;
        top: 2.5rem;
        left: 2.75rem;
    }
    .bulb-img {
        left: 23%;
        padding: 25px;
    }
    .link-btn {
        font-size: 0.75rem;
        width: 70%;
        padding: 5px;
    }
}
@media (max-width: 320px) {
    .offset-program-section {
        height: 285px;
    }
    .carousel-inner {
        height: 275px;
    }
    .carousel-img {
        width: 200px;
        height: 130px;
        position: relative;
        filter: drop-shadow(2px 4px 8px #585858);
        bottom: 0.5em;
    }
    .carousel-item {
        right: 0.5rem;
        height: 280px;
    }
    .carousel-caption {
        width: 175px;        
        font-size: 1rem;
        top: 3rem;
        left: 15%;
    }
    .bulb-img {
        left: 23%;
        padding: 25px;
    }
    .link-btn {
        font-size: 0.75rem;
        width: 70%;
        padding: 5px;
    }
}
@media (max-width: 300px) {
    .offset-program-section {
        height: 275px;
    }
    .carousel-inner {
        height: 270px;
    }
    .carousel-img {
        left: 2rem;
    }
    .carousel-item {
        right: 0.25rem;
    }
    .carousel-caption {
        width: 175px;
        font-size: small;
        top: 3rem;
        left: 1.25rem;
    }
    .link-btn {
        font-size: 0.75rem;
        width: 70%;
    }
}

/*------------------------------------Footer*/
footer {
    height: 140px;
}
.fa-facebook, .fa-youtube-square, .fa-twitter-square {
    font-size: 40px;
    position: relative;
    top: 10px;
    padding: 5px;
    letter-spacing: 15px;
}
.fa-telegram, .fa-instagram, .fa-pinterest {
    font-size: 40px;
    position: relative;
    top: 25px;
    padding: 5px;
    letter-spacing: 15px;
}

.col-sm-4 {
    max-width: 100%;
}
.fa-facebook, .fa-youtube-square, .fa-twitter-square,.fa-telegram, .fa-instagram, .fa-pinterest {
        font-size: 25px;
        left: 25%;
    }
footer {
        height: 105px;
    }

.footer-link-colour:hover {
    color: #65CCB8;
    filter: brightness(0.5);
    transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
}
/*------------------------------------Move the social links button down by 1px when hovered*/
.fab:hover {
    transform: translateY(1px);
}

/*------------------------------------Theme Selection*/
.dark-mode, header, .statement-paragraph, .co2-google-maps, .offset-program-section, footer, .footer-link-colour{
    transition: background 0.4s ease-in, color 0.4s ease-in;
    -webkit-transition: background 0.4s ease-in, color 0.4s ease-in;
}
/*------------------------------------https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp*/
header .changeColor{
    color: #182628;
    background-color: #f2f2f2;
}
.dark-mode header.changeColor {
    color: #f2f2f2;
    background-color: transparent;
}
.dark-mode header {
    color: #f2f2f2;
    background:#65CCB8
}
.statement-paragraph {
    color: #f2f2f2;
    background-color: #3B945E;
}
.dark-mode .statement-paragraph {
    background-color: #182628;
}
.co2-google-maps {
    color: #182628;
    background-color: #f2f2f2;
}
.dark-mode .co2-google-maps {
    color: #f2f2f2;
    background-color: #3B945E;
}
.offset-program-section  {
    color: #f2f2f2;
    background-color: #3B945E;
}
.dark-mode .offset-program-section {
    background-color: #182628;
}
footer {
    background-color: #3B945E;
}
.dark-mode footer {
    background-color: #182628;
}
.footer-link-colour {
    color: #f2f2f2;
}
.dark-mode .footer-link-colour {
    color: #65CCB8;
}