@import url('https://fonts.googleapis.com/css2?family=B612&family=Lora&display=swap');

/*------------------------------------General*/
body {
    overflow-x: hidden;
}
a {
    color: #182628;
}
/*------------------------------------Colors*/


/*------------------------------------Header*/
header {
    filter: brightness(0.9);
}
nav {
    height: 85px;
    padding: 5px;
}

.logo {
    filter: drop-shadow(2px 4px 8px #585858);
    width: 75px;
    height: 75px;
}
.title-1 {
    font-family: 'B612', sans-serif;
    font-size: smaller;
    font-weight: 800;
    position: absolute;
    top: 30px;
    left: 65px;
}
.title-2 {
    font-family: 'B612', sans-serif;
    font-size: smaller;
    font-weight: 800;
    position: absolute;
    top: 45px;
    left: 65px;
}

/*------------------------------------Toggle Switch*/
/*------------------------------------https://www.w3schools.com/howto/howto_css_switch.asp*/


switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 90%;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .6s;
  transition: .6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .6s;
  transition: .6s;
}
input:checked + .slider {
  background-color: #182628;
}

input:focus + .slider {
  box-shadow: 0 0 5px #f2f2f2;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
  height: 20px;
  width: 45px;
}
.slider.round:before {
  border-radius: 50%;
}
.light-theme {
    filter: drop-shadow(2px 4px 2px #585858);
    position: relative;
    right: 30px;
    bottom: 5px;
    font-size: x-large;
}
.dark-theme {
    filter: drop-shadow(2px 4px 2px #585858);
    position: relative;
    left: 38px;
    bottom: 5px;
    font-size: x-large;
}

/*------------------------------------Statement Paragraph*/
.statement-paragraph {
    font-family: 'B612', sans-serif;
    padding: 20px;
    height: 200px;
}
/*------------------------------------Calculator*/
.co2-google-maps {
    filter: brightness(0.9);
    padding: 20px 5%;
}
.co2-calculator-heading {
    font-family: 'B612', sans-serif;
    font-weight: 800;
    padding: 15px;
}
.calculator-text {
    font-family: 'B612', sans-serif;
    width: 350px;
}


/*------------------------------------Code Taken from bootstrap*/


.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;

    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    border-radius: 12px;
}


.shadow {
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2)!important;
    border-radius: 12px;
}
/*------------------------------------Google Maps*/
.google-maps-api {
    position: relative;
    top: 250px;
}
.fa-map-marker-alt,
.fa-dot-circle {
  color: #182628;
}


/*Submit Button*/
.btn {
    background-color: #182628;
}
.btn:hover {
    background-color: #182628;
    filter: brightness(0.5);
}
.btn:focus {
    color: #f2f2f2;
    background-color: #182628;
    border-color: #65CCB8;
}
/*map*/
#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}

/*output box*/
#output, #calculation {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: #182628;
}

sub {
    bottom: -.25em;
    font-size: 75%;
}

/* Optional: Makes the sample page fill the window. */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}



/*------------------------------------Calculator Results*/

/*------------------------------------CO2 emissions programs*/

.offset-program-section {
    font-family: 'B612', sans-serif;
    color: #f2f2f2;
    padding: 15px;
    height: 450px;
}
.carousel-img {     
    filter: drop-shadow(2px 4px 8px #585858);
    width: 550px;
    height: 400px;
    position: relative;
    left: 28%;
    bottom: 4rem;
}
.carousel-caption {
    bottom: 0px;
}
.carousel-indicators {
    bottom: -40px;
}
.bulb-img {
    padding: 25px;
}

@media (max-width: 768px) {
    .offset-program-section {
        height: 450px;
    }
    .carousel-img {
        filter: drop-shadow(2px 4px 8px #585858);
        width: 400px;
        height: 300px;
        position: relative;
        left: 22%;       
    }
    .carousel-caption {
        width: 440px;
        font-size: large;
    }
    .carousel-indicators {
        bottom: 80px;
    }
    .bulb-img {
        padding: 45px;
    }
}
@media (max-width: 540px) {
    .offset-program-section {
        height: 300px;
    }
    .carousel-img {
        width: 200px;
        height: 130px;
        position: relative;
        filter: drop-shadow(2px 4px 8px #585858);
        bottom: 0.5em;
    }
    .carousel-item {
        right: 0.5rem;
        height: 280px;
    }
    .carousel-caption {
        width: 200px;        
        font-size: medium;
        top: 3rem;
    }
    .carousel-indicators {
        bottom: 50px;
    }
    .bulb-img {
        left: 23%;
        padding: 25px;
    }
}
.link-btn {
    background-color: transparent;
    border-color: #f2f2f2;
    border-radius: 12px;
}
.btn-primary:hover {
    color: #f2f2f2;
    border-color: #f2f2f2;
    filter: brightness(0.7);
    transition: 0.5s ease-in;
}
/*------------------------------------Footer*/
footer {
    height: 140px;
}
.fa-facebook, .fa-youtube-square, .fa-twitter-square {
    font-size: 40px;
    position: relative;
    top: 10px;
    padding: 5px;
    letter-spacing: 15px;
}
.fa-telegram, .fa-instagram, .fa-pinterest {
    font-size: 40px;
    position: relative;
    top: 25px;
    padding: 5px;
    letter-spacing: 15px;
}

.col-sm-4 {
    max-width: 100%;
}
.fa-facebook, .fa-youtube-square, .fa-twitter-square,.fa-telegram, .fa-instagram, .fa-pinterest {
        font-size: 25px;
        left: 25%;
    }
footer {
        height: 105px;
    }

.footer-link-colour:hover {
    color: #65CCB8;
    filter: brightness(0.5);
    transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
}
/*------------------------------------Theme Selection*/
.dark-mode, header, .statement-paragraph, .co2-google-maps, .offset-program-section, footer, .footer-link-colour{
    transition: background 0.4s ease-in, color 0.4s ease-in;
    -webkit-transition: background 0.4s ease-in, color 0.4s ease-in;
}
/*------------------------------------https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp*/
header {
    color: #182628;
    background-color: #f2f2f2;
}
.dark-mode header {
    color: #182628;
    background:#65CCB8
}
.statement-paragraph {
    color: #f2f2f2;
    background-color: #3B945E;
}
.dark-mode .statement-paragraph {
    background-color: #182628;
}
.co2-google-maps {
    color: #182628;
    background-color: #f2f2f2;
}
.dark-mode .co2-google-maps {
    color: #f2f2f2;
    background-color: #3B945E;
}
.offset-program-section  {
    color: #f2f2f2;
    background-color: #3B945E;
}
.dark-mode .offset-program-section {
    background-color: #182628;
}
footer {
    background-color: #3B945E;
}
.dark-mode footer {
    background-color: #182628;
}
.footer-link-colour {
    color: #f2f2f2;
}
.dark-mode .footer-link-colour {
    color: #65CCB8;
}