@import url('https://fonts.googleapis.com/css2?family=B612&family=Lora&display=swap');

/*------------------------------------General*/


/*------------------------------------Colors*/


/*------------------------------------Header*/
nav {
    height: 150px;
    padding: 5px;
}

.logo {
    width: 150px;
    height: 150px;
}



/*------------------------------------Toggle Switch*/
@media (min-width: 766px) {
    .toggle-location {
    position: absolute;
    top: 75px;
    left: 90%;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
}
@media (max-width: 765px) {
    .toggle-location{
    padding-top: 10px;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
}
/*------------------------------------Statement Paragraph*/


/*------------------------------------Calculator*/


/*------------------------------------Google Maps*/


/*------------------------------------Calculator Results*/


/*------------------------------------CO2 emissions programs*/

/*------------------------------------Footer*/









